<?xml version="1.0" encoding="UTF-8"?>
<article>
    <div data-template="templates:each" data-template-from="db-children" data-template-to="db">
        <div data-template="db-template:db-type">
            <div data-template="db-template:model-value-switch" data-template-key="db-type" data-template-list="section,info">
                <div data-template="templates:include" data-template-path="templates/docbook/section.html"/>
                <div data-template="templates:include" data-template-path="templates/docbook/info.html"/>
            </div>
        </div>
    </div>
</article>